DEFAULT_PORT=3000
JWT_SECRET_KEY="your-secret-key"

# Database configuration
DB_HOST="supabase-db-host"
DB_PORT=5432
DB_NAME="supabase-db-name"
DB_USERNAME="supabase-db-username"
DB_PASSWORD="supabase-db-password"
DB_SSL=false
DB_LOGGING=true